@font-face
{
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: 	url(/fonts/NotoSans-Regular.eot);
	src: 	url(/fonts/NotoSans-Regular.woff2) format('woff2'),
			url(/fonts/NotoSans-Regular.woff) format('woff'),
			url(/fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'), 
			url(/fonts/NotoSans-Regular.ttf) format('truetype'),
			url(/fonts/NotoSans-Regular.svg) format('svg');
}

$font-family-base: "Noto Sans", sans-serif;
$font-size-base: 0.85rem;
$list-group-item-padding-y: .25rem;
$list-group-item-padding-x: .5rem;

@import "./node_modules/bootstrap/scss/bootstrap";

.overflow-hidden {
	overflow: hidden;
}

.sticky-top {
	top: 1rem;
}

.btn-xs {
	padding: .15rem .3rem;
    font-size: .7rem;
    line-height: 1;
    border-radius: .2rem;
}

.disabled {
	color: $gray-800;
	
	> * {
		opacity: .25;
	}
}

.card-image-overlay {
	background-color: rgba(0,0,0,.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: $zindex-modal-backdrop;
}

.unit-card-header {
	background-color: $dark;
	color: $light;
	cursor: pointer;
	padding: $list-group-item-padding-y $list-group-item-padding-x;
}

.unit-card-set, 
.unit-card-set-indent {
	@extend .border-left;
	@extend .border-bottom;
}

.unit-card-set-indent {
	margin-left: 3rem;

	+ .unit-card-set {
		@extend .border-top;
		margin-top: 1rem;
	}
}

.unit-card-details {
	cursor: pointer;
	padding: $list-group-item-padding-y $list-group-item-padding-x;

	&:hover {
		background-color: $gray-100;
	}
}

.unit-card-button
{
	background-color: $info;
	border-left: $border-width solid $border-color;
	color: $light;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	text-align: center;
	transition: background-color .125s ease-in;

	&:hover {
		background-color: $info - 50;
	}

	&:last-child {
		border-left: $border-width solid $border-color;
	}

	> * {
		width: 2.5rem;
	}
}

.unit-card-button-red {
	@extend .unit-card-button;
	background-color: $danger;

	&:hover {
		background-color: $danger - 50;
	}
}

.disabled {

	.unit-card-details:hover {
		background-color: transparent;
	}

	.unit-card-button:hover {
		background-color: $info;
	}
}

.close.text-white {
	line-height: .9;
	opacity: 1;
	text-shadow: none;
}

.form-group > label {
	font-style: italic;
}

.font-sm {
	font-size: $font-size-base - 0.15;
}

.icon-plus {
	border: 3px solid $light;
	border-radius: .5rem;
	color: $light;
	font-size: 1.25rem;
	float: right;
	line-height: 1;
	padding: .25rem .5rem;
	transition: background .125s ease-in;
	text-decoration: none;

	&:hover {
		background: $gray-600;
		color: $light;
		text-decoration: none;
	}
}